In [1]:
import numpy as np
import pandas as pd

In [2]:
funding_rounds=pd.read_csv(r"C:\Users\김영현\Desktop\DSL\EDA\crunchbase_1\funding_rounds.csv",index_col=0)

In [5]:
funding_rounds.head(4)

,name,type,permalink,cb_url,rank,created_at,updated_at,country_code,state_code,region,...,raised_amount_usd,raised_amount,raised_amount_currency_code,post_money_valuation_usd,post_money_valuation,post_money_valuation_currency_code,investor_count,org_uuid,org_name,lead_investor_uuids
uuid,,,,,,,,,,,,,,,,,,,,,
8a945939-18e0-cc9d-27b9-bf33817b2818,Angel Round - Meta,funding_round,facebook-angel--8a945939,https://www.crunchbase.com/funding_round/faceb...,229591.0,2007-05-27 06:08:18,2018-02-12 23:05:39,USA,CA,California,...,500000.0,500000.0,USD,NaN,NaN,NaN,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,3f47be49-2e32-8118-01a0-31685a4d0fd7
d950d7a5-79ff-fb93-ca87-13386b0e2feb,Series A - Meta,funding_round,facebook-series-a--d950d7a5,https://www.crunchbase.com/funding_round/faceb...,495063.0,2007-05-27 06:09:10,2018-02-12 23:52:16,USA,CA,California,...,12700000.0,12700000.0,USD,98000000.0,98000000.0,USD,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,b08efc27-da40-505a-6f9d-c9e14247bf36
6fae3958-a001-27c0-fb7e-666266aedd78,Series B - Meta,funding_round,facebook-series-b--6fae3958,https://www.crunchbase.com/funding_round/faceb...,203320.0,2007-05-27 06:09:36,2018-02-12 23:30:46,USA,CA,California,...,27500000.0,27500000.0,USD,502500000.0,502500000.0,USD,5.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,"e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-..."
bcd5a63d-ed99-6963-0dd2-e36f6582f846,Series B - Photobucket,funding_round,photobucket-series-b--bcd5a63d,https://www.crunchbase.com/funding_round/photo...,154217.0,2007-05-29 11:05:59,2018-02-12 23:27:36,USA,CO,Colorado,...,10500000.0,10500000.0,USD,NaN,NaN,NaN,2.0,f53cb4de-236e-0b1b-dee8-7104a8b018f9,Photobucket,NaN

In [3]:
df_funding_rounds=funding_rounds[['name','raised_amount_usd','post_money_valuation_usd','investor_count','org_uuid','org_name','lead_investor_uuids']]

In [7]:
df_funding_rounds.head(4)

,name,raised_amount_usd,post_money_valuation_usd,investor_count,org_uuid,org_name,lead_investor_uuids
uuid,,,,,,,
8a945939-18e0-cc9d-27b9-bf33817b2818,Angel Round - Meta,500000.0,NaN,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,3f47be49-2e32-8118-01a0-31685a4d0fd7
d950d7a5-79ff-fb93-ca87-13386b0e2feb,Series A - Meta,12700000.0,98000000.0,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,b08efc27-da40-505a-6f9d-c9e14247bf36
6fae3958-a001-27c0-fb7e-666266aedd78,Series B - Meta,27500000.0,502500000.0,5.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,"e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-..."
bcd5a63d-ed99-6963-0dd2-e36f6582f846,Series B - Photobucket,10500000.0,NaN,2.0,f53cb4de-236e-0b1b-dee8-7104a8b018f9,Photobucket,NaN

In [64]:
lst0=[]
for i in df_funding_rounds['name']:
    lst0.append('Debt Financing' in i)

lst1=[]
for i in df_funding_rounds['name']:
    lst1.append('Grant' in i)

lst2=[]
for i in df_funding_rounds['name']:
    lst2.append('Secondary Market' in i)

lst3=[]
for i in df_funding_rounds['name']:
    lst3.append('Convertible Note' in i)

In [73]:
debt_firms = df_funding_rounds[lst0 or lst1 or lst2 or lst3]
org_raised_money=  debt_firms.groupby('org_name').sum()[['raised_amount_usd']]
org_raised_money
# 'Debt Financing','Secondary Market','Grant','Convertible Note'를 이용해
#  조달한 자금의 기업별 합

                     raised_amount_usd
org_name
& Sons                             0.0
&Open                        2162700.0
0xBCHAIN                      200000.0
0xa57B Consulting              50000.0
1 India Family Mart          2880417.0
...                                ...
zSpace                      10000000.0
zolar                       22735695.0
zumatek                       150000.0
zyBooks                       870000.0
Élivie                             0.0

[15891 rows x 1 columns]

In [81]:
org_name = list(org_raised_money.index)
lst=[]
for i in df_funding_rounds['name']:
    lst.append('Series C' in i)

In [85]:
firm_series_c = set(df_funding_rounds[lst]['org_name'])

In [86]:
lst4=[]
for name in org_name:
    lst4.append(name in firm_series_c)

In [88]:
org_raised_money['Series_C']=lst4

In [95]:
org_raised_money.head(4)

                   raised_amount_usd  Series_C
org_name
& Sons                           0.0     False
&Open                      2162700.0     False
0xBCHAIN                    200000.0     False
0xa57B Consulting            50000.0     False

In [112]:
x_train=org_raised_money['raised_amount_usd']
y_train=org_raised_money['Series_C']

In [118]:
x_train = (x_train - x_train.mean())/x_train.std()

In [119]:
import statsmodels.api as sm
logit = sm.Logit(y_train,x_train).fit()
logit.summary()

Optimization terminated successfully.
         Current function value: 0.692950
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Series_C   No. Observations:                15891
Model:                          Logit   Df Residuals:                    15890
Method:                           MLE   Df Model:                            0
Date:                Sun, 15 Jan 2023   Pseudo R-squ.:                 -0.8490
Time:                        22:59:45   Log-Likelihood:                -11012.
converged:                       True   LL-Null:                       -5955.3
Covariance Type:            nonrobust   LLR p-value:                       nan
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
raised_amount_usd     0.0417      0.017      2.395      0.017       0.008       0.076
=====================================================================================
"""

In [120]:
print(np.exp(logit.params))

raised_amount_usd    1.042619
dtype: float64